@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(210, 46%, 95%);
}

.show {
  display: flex;
}
